@charset "UTF-8";

.contact {
  width: 200px;
  /* display: inline-block; */
  margin: 0 auto;
  text-align: center;
  color: #1dd68f;
}


.information ul li p {
  display: inline-block;
  padding: 5px 0;
  margin: 5px 0;
}



.information__title--category1 span {
  background: #8fc93a;
}

.information__title--category2 span {
  background: #392f5a;
}

.information-detail__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.information-detail__header time {
  line-height: 20px;
  color: #aaa;
}