@charset "UTF-8";

h1 {
  text-align: center;
}

.step {
  display: flex;
  justify-content: space-around;
  margin: 0 15%;
}

.step .step_bar {
  width: 220px;
  padding: 20px 20px;
  margin: 10px 10px;
  text-align: center;
  background-color: RGBA(15, 130, 153, 0.5);
  color: rgb(74, 10, 222);
}

.step .current {
  font-weight: bold;
  color: #f8f2f2;
  background-color: rgb(29, 29, 154);
}

.required {
  color: red;
}

.contact h1 {
  padding: auto;
  background-color: yellow;
}

.information-detail__header time {
  line-height: 20px;
  color: #aaa;
}

.with_border {
  border-bottom: 1px solid black; /* 下線のスタイルを指定します */
}